.booksPage {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;

    .heading {
        padding-left: 20px;

        h1 {
            padding-bottom: 20px;
        }

        a {
            color: #1976d2;
        }
    }
}