.tableContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    a {
      color: #1976d2;
    }

    .deleteButton {
      background: #1976d2;
      color: white;
      padding: 8px 10px;
      border: none;
      border-radius: 8px;
    }

    
  }